#introtext{
  text-align: center;
  background-color: rgba(204,196,195,0.7);
  margin-top: 13%;
  height: 300px;
}

#title{
  margin-top: 13%;
  font-family: Courier;
  font-weight: bold;
  font-size:40px;
  color: #3c8dbc;
}

#subtitle{
  font-family: Courier;
  font-size: 25px;
  color: #500a6f;
}
