#kleinerfont{
  font-size: 11px;
}
md-card
{
  width: 300px;
  padding: 0px;
  margin: 20px;
}

md-card-content
{
  padding: 10px;
}

md-input-container
{
  width: 100%;
}

.buttonCol{
  margin-top: 12.5px;
}

.lscnlButton{
  background-color: transparent;
  border: 2px solid #CC0033;
  color: #cc0033;
  transition: all 0.3s;
  text-align: center;
  margin: 5px;
  white-space: normal !important;
}


.lscnlButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.lscnlButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.3s;
}

.lscnlButton:hover span {
  padding-right: 10px;
}

.lscnlButton:hover span:after {
  opacity: 1;
  right: 0;
}

